<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873003622591-lo1bp247qj7oul9ge9dg93qogq3mqtgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873003622591-lo1bp247qj7oul9ge9dg93qogq3mqtgu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>873003622591-2o3iqc4lgtu0266j03hflf69aivcgsku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGAzPyFfXelxg3AGmB9qylGBrZWDWrrRg</string>
	<key>GCM_SENDER_ID</key>
	<string>873003622591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.app.auctionvillage</string>
	<key>PROJECT_ID</key>
	<string>auction-village</string>
	<key>STORAGE_BUCKET</key>
	<string>auction-village.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873003622591:ios:1291279fdba25e258d660a</string>
</dict>
</plist>